.category-detail {
  h1 {
    margin-bottom: 16px;
  }
  p {
    color: #285f9c;
    font-size: 13px;
    line-height: 18px;
  }
  > div:last-child {
    position: relative;
    > div:last-child {
      position: relative;
      > div {
        position: absolute;
        bottom: -115px;
        left: 0;
        width: 100%;
        height: 50px;
      }
    }
  }
  .friend {
    form {
      position: relative;
      .form-group:nth-child(2) {
        .col-lg-4 {
          position: relative;
        }
      }
    }
    input {
      height: 28px;
      color: #ffffff;
      background-color: #60c8d3;
      border-radius: 14px;
    }
    .fb {
      cursor: pointer;
      div {
        opacity: 0;
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 40px;
      }
    }
    .tw {
      cursor: pointer;
      iframe {
        opacity: 0;
        position: absolute;
        top: 10px;
        left: 25px;
        width: 100%;
        height: 40px;
      }
    }
    .lk {
      cursor: pointer;
    }
  }
}

.tutorial-list {
  .index {
    position: relative;
    > div {
      &:nth-child(1) {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        width: 40px;
        height: 40px;
        margin-top: 22px;
        border: 5px solid #85d1d8;
        border-radius: 20px;
        background-color: #ffffff;
        color: #85d1d8;
        font-size: 20px;
        strong {
          line-height: 34px;
        }
      }
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 60px;
        margin-left: -2px;
        width: 5px;
        height: 68px;
        background-color: #85d1d8;
      }
    }
  }
  > div:nth-last-child(2) > div:last-child {
    visibility: hidden;
  }
  .panel {
    border-radius: 12px;
  }
  .panel-body {
    position: relative;
    padding: 22px 15px;
    border-radius: 12px;
    &.hover {
      cursor: pointer;
      box-shadow: 0 0 9px #85d1d8;
    }
    div.theme-tutorial-title {
      padding-left: 24px;
      font-size: 24px;
      width: 75%;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Jua;
      font-weight: bold;
      color: #285f9c;
      display: inline-block;
      overflow: hidden;
    }
    .stat {
      visibility: visible;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -10px;
      margin-right: 39px;
      &.hover {
        visibility: hidden;
      }
      span {
        color: #7090c0;
      }
    }
    .init {
      visibility: hidden;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -10px;
      margin-right: 39px;
      color: #285f9c;
      &.hover {
        visibility: visible;
      }
    }
  }
}


/* fonts for xs */
#contents > .row > .col-xs-12 {
  padding-top: 63px;
  padding-left: 30px;
}
/* fonts for sm */
@media (min-width: 768px) {
  #contents > .row > .col-sm-8 {
    padding-top: 21px;
  }
}
/* fonts for md */
@media (min-width: 992px) {
  #contents > .row > .col-md-8 {
    padding-top: 21px;
  }
}
/* fonts for lg */
@media (min-width: 1200px) {
  #contents > .row > .col-lg-8 {
    padding-top: 63px;
  }
}