@font-face {
  font-family: jua;
  src: url("/static/fonts/bm_jua.eot");
  src: url("/static/fonts/bm_jua.woff") format("woff");
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local("Nanum Barun Gothic Regular"), local("Nanum Barun Gothic-Regular"), local("NanumBarunGothic Regular");
  src: url("/static/fonts/NanumBarunGothic.eot");
  src: url("/static/fonts/NanumBarunGothic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/NanumBarunGothic.woff") format("woff"), url("/static/fonts/NanumBarunGothic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local("Nanum Barun Gothic Bold"), local("Nanum Barun Gothic-Bold"), local("NanumBarunGothic Bold");
  src: url("/static/fonts/NanumBarunGothicBold.eot");
  src: url("/static/fonts/NanumBarunGothicBold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/NanumBarunGothicBold.woff") format("woff"), url("/static/fonts/NanumBarunGothicBold.ttf") format("truetype");
}

* {
  font-family: 'Nanum Barun Gothic';
}

body {
  background-image: url("/static/images/bg.png");
}

#contents {
  padding: 0;
  > .row > {
    .col-lg-8, .col-md-8, .col-sm-8, .col-xs-8 {
      padding-top: 84px;
    }
  }
}

@media (max-width: 768px) {
  #contents {
    padding: 0;
    > .row > {
      .col-lg-8, .col-md-8, .col-sm-8, .col-xs-8 {
        padding-top: 21px;
      }
    }
  }
}

h1, h2, h4 {
  font-family: Jua;
  font-weight: bold;
  color: #285f9c;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
}

h2 {
  font-size: 16px;
  line-height: 36px;
  margin: 0;
}

p {
  font-family: 'Nanum Barun Gothic';
}

strong {
  font-family: 'Nanum Barun Gothic'; 
}

.webbles-list-btn {
  color: #ffffff;
  background-color: #285f9c;
  border: 1px solid #285f9c;
  &:hover, &:focus, &:active, &.active {
    color: #f5cd4b;
  }
}

.open > .dropdown-toggle.webbles-list-btn {
  color: #ffffff;
  background-color: #e6b514;
  border-color: #ffba43;
}

.webbles-list-btn {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.webbles-list-btn {
  background-image: none;
}

.webbles-list-btn {
  &.disabled, &[disabled] {
    background-color: #f5cd4b;
    border-color: #ffba43;
  }
}

fieldset[disabled] .webbles-list-btn {
  background-color: #f5cd4b;
  border-color: #ffba43;
}

.webbles-list-btn {
  &.disabled:hover, &[disabled]:hover {
    background-color: #f5cd4b;
    border-color: #ffba43;
  }
}

fieldset[disabled] .webbles-list-btn:hover {
  background-color: #f5cd4b;
  border-color: #ffba43;
}

.webbles-list-btn {
  &.disabled:focus, &[disabled]:focus {
    background-color: #f5cd4b;
    border-color: #ffba43;
  }
}

fieldset[disabled] .webbles-list-btn:focus {
  background-color: #f5cd4b;
  border-color: #ffba43;
}

.webbles-list-btn {
  &.disabled:active, &[disabled]:active {
    background-color: #f5cd4b;
    border-color: #ffba43;
  }
}

fieldset[disabled] .webbles-list-btn:active {
  background-color: #f5cd4b;
  border-color: #ffba43;
}

.webbles-list-btn {
  &.disabled.active, &[disabled].active {
    background-color: #f5cd4b;
    border-color: #ffba43;
  }
}

fieldset[disabled] .webbles-list-btn.active {
  background-color: #f5cd4b;
  border-color: #ffba43;
}

.webbles-list-btn .badge {
  color: #f5cd4b;
  background-color: #ffffff;
}

@media (max-width: 768px) { 
  #header > ul > li.dropdown {
    display: none;
  }
  div.category-list.row {
    display: none;
  }
}

/*# sourceMappingURL=default.css.map */