#header {
  margin-left: 0 !important;
}

.row {
  margin: 0;
}

#landing-image {
  height: 500px;
  width: 100%;
  margin: 0;
  background-image: url("/static/images/icons/landing_main_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  > div {
    height: 100%;
    > div.landing-box {
      width: 773px;
      height: 100%;
      display: block;
      margin: 0 auto;
      padding: 130px 0;
      > div {
        &:nth-child(1) {
          display: block;
          vertical-align: top;
          font-size: 0;
          height: 70%;
          margin-bottom: 16px;
          > {
            div.landing-description {
              display: inline-block;
              width: 65%;
              color: #fff;
              h4 {
                font-size: 50px;
                color: #fff;
                text-shadow: 1px 1px 2px #969696;
              }
              p {
                font-size: 30px;
                text-shadow: 1px 1px 2px #969696;
              }
            }
            img {
              vertical-align: top;
              margin-top: -36px;
              width: 35%;
              display: inline-block;
            }
          }
        }
        &:nth-child(2) {
          display: block;
          height: 30%;
          button {
            height: 54px;
            margin: 0 auto;
            border-radius: 30px;
            border: 0;
            color: #fff;
            background-color: #285f9c;
            font-family: jua;
            font-size: 22px;
            display: block;
            width: 400px;
            /*Shadow*/
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
            &:hover {
              color: #f5cd4b;
            }
          }
        }
      }
    }
  }
}










#contents > div.row {

  &.mobile-notification {
    display: none;
    background-color: #f5cd4b;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 5px 22px;
    margin: 0 10px;
    & > h4 {
      font-size: 28px;
    }
    & > p {
      font-size: 16px;
    }
    & > a {
      font-size: 13px;
      color: #fff;
      &:hover {
        text-decoration: none;
        font-size: 15px;
      }
    }
  }
  &.landing-header {
    margin: 42px 0;
    border-bottom: 2px solid #c9c9c9;
  }
  &.landing-service-header {
    padding: 17px 0;
    > div:nth-child(1) h2 {
      font-size: 45px;
      color: #3c5082;
    }
  }
  &.landing-service-description > div {
    &:nth-child(1) {
      padding: 0;
      padding-right: 10px;
      > div {
        background-color: #f6f6f6;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 5px 22px;
        height: 323px;
        p {
          color: #373737;
          font-size: 20px;
          margin: 10px 0;
          line-height: 1.5em;
        }
      }
    }
    &:nth-child(2) {
      padding: 0;
      padding-left: 10px;
      iframe {
        padding: 10px;
        background-color: #f6f6f6;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
      }
    }
    &:nth-child(3) {
      margin-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 15px;
      > div {
        background-color: #f6f6f6;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 5px 22px;
        p {
          color: #373737;
          font-size: 20px;
          margin: 10px 0;
          line-height: 1.5em;
        }
      }
    }
  }
  &.landing-service-extension-what > div:nth-child(1) {
    padding: 17px 0 5px;
    p {
      text-indent: 10px;
      display: block;
      float: left;
      color: #3c5082;
      font-size: 14px;
      &:after {
        content: none;
      }
    }
    a {
      text-indent: 5px;
      display: block;
      float: left;
      color: #3c5082;
      font-size: 14px;
      p {
        text-decoration: underline;
      }
    }
  }
  &.landing-service-button > div {
    &:nth-child(1) {
      padding: 0;
      > div {
        &:nth-child(1) {
          padding: 0;
          padding-right: 10px;
          a div {
            width: 100%;
            height: 54px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            background-image: url("../images/icons/chrome_web_store.png");
            background-color: #fff;
            border: 1px solid #ababab;
            border-radius: 30px;
          }
        }
        &:nth-child(2) {
          padding: 0;
          padding-left: 10px;
          button {
            width: 100%;
            height: 54px;
            border-radius: 30px;
            border: 0;
            color: #fff;
            background-color: #285f9c;
            font-family: jua;
            font-size: 22px;
            &:hover {
              color: #f5cd4b;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  #contents > {
    > div.row.landing-header {
      display: none;
    }
    div.row {
      &.landing-service-extension-what {
        display: none;
      }
      &.landing-service-button {
        margin-top: 10px;
        > div {
          &:nth-child(1) > div {
            &:nth-child(1) {
              padding: 0 10px;
            }
            &:nth-child(2) {
              display: none;
            }
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
      &.mobile-notification {
        display: block;
      }
      &.landing-service-header > div:nth-child(1) h2 {
        font-size: 8vw;
      }
      &.landing-service-description > div {
        &:nth-child(1) {
          padding: 0 10px;
          margin-bottom: 20px;
          > div {
            height: 280px;
            > p {
              font-size: 4vw;
            }
          }
        }
        &:nth-child(2) {
          padding: 0 10px;
        }
      }
    }
  }
  #landing-image > div > div.landing-box {
    width: 100%;
    > div {
      &:nth-child(1) {
        width: 100%;
        div.landing-description {
          margin-top: 100px;
          display: block;
          width: 100%;
          h4 {
            font-size: 10vw;
          }
          p {
            font-size: 5vw;
          }
        }
        img {
          margin: 0;
          position: absolute;
          display: block;
          max-height: 100px;
          max-width: 100px;
          top: 10px;
          right: 10px;
        }
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.category-list {
  .panel {
    margin-bottom: 0;
    border-radius: 12px;
    .panel-body {
      border-radius: 11px;
      background-color: #f6f6f6;
      padding: 36px 36px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .panel-body .center-block {
    margin-bottom: 16px;
    &:last-child {
      position: relative;
      margin-bottom: 0;
    }
    &:first-child {
      .img-circle {
        width: 220px;
        height: 220px;
      }
      a {
        visibility: hidden;
        &.hover {
          visibility: visible;
        }
        div {
          position: absolute;
          top: 0;
          left: 50%;
          margin-top: 37px;
          margin-left: -110px;
          width: 220px;
          height: 220px;
          border-radius: 110px;
          background-color: #ffffff;
        }
        .img-circle {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -36px;
          margin-left: -36px;
          width: 72px;
          height: 72px;
        }
      }
    }
  }
  .panel {
    .panel-body h2 {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 16px;
      color: #285f9c;
    }
    .panel-body p {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .panel-body a.webbles-list-btn {
    font-size: 16px;
    border-radius: 100px;
    padding: 12px 48px;
    margin-top: 4px;
  }
}

/*# sourceMappingURL=index.css.map */