.tutorial-list {
    .search {
        > div {
            padding-left: 5px;
            parring-right: 5px;
        }
        form > div {
            position: relative;
            padding: 0;
        }
        .form-control {
            height: 30px;
        }
        input {
            &[type='submit'] {
                height: 30px;
            }
            &[type='text'] {
                width: 100%;
                border-radius: 15px;
                text-indent: 1%;
                background-color: #ffffff;
                color: #000000;
                &:focus {
                    border: 2px solid #285f9c;
                    color: #285f9c;
                }
            }
            &[type='submit'] {
                position: absolute;
                top: 2px;
                right: 2px;
                width: 26px;
                height: 26px;
                border-radius: 15px;
                background-image: url("/static/images/icons/search.png");
                background-size: 28px 28px;
                background-position: -1px -1px;
            }
        }
        select {
            -webkit-appearance: none;
            width: 100%;
            border: 1px solid #85d1d8;
            border-radius: 15px;
            padding: 0 30px;
            line-height: 30px;
            text-indent: 20%;
            &:focus {
                border: 2px solid #285f9c;
                color: #285f9c;
            }
        }
        @media (max-width: 768px) {
            select {
                margin-top: 16px;
            }
        }
        img {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 26px;
            height: 26px;
        }
    }
    .list {
        > div {
            padding-right: 5px;
            padding-left: 5px;
        }
        > div:nth-child(1) p {
            font-size: 12px;
            line-height: 50px;
            margin-bottom: 0;
        }
        .panel {
            margin-bottom: 10px;
            border-radius: 12px;
            .panel-body {
                position: relative;
                height: 360px;
                border-radius: 11px;
                background-color: #f6f6f6;
                padding-right: 36px;
                padding-left: 36px;
                h2 {
                    font-size: 20px;
                    line-height: 24px;
                }
                p {
                    line-height: 20px;
                    overflow-wrap: break-word;
                }
                .center-block {
                    .text-center {
                        height: 65px;
                    }
                    margin: 0;
                    margin-top: 10px;
                    height: 50px;
                    &:last-child {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        margin-left: -40%;
                        width: 80%;
                        div {
                            padding: 0 8px;
                            color: #7090c0;
                            &.hover {
                                visibility: hidden;
                            }
                            img {
                                margin-right: 4px;
                            }
                        }
                    }
                    &:first-child {
                        height: 140px;
                        .img-circle {
                            position: absolute;
                            top: 0;
                            left: 50%;
                            margin-top: 37px;
                            margin-left: -60px;
                            width: 120px;
                            height: 120px;
                            border: 1px solid #bbbbbb;
                        }
                        a {
                            visibility: hidden;
                            &.hover {
                                visibility: visible;
                            }
                            div {
                                position: absolute;
                                top: 0;
                                left: 50%;
                                margin-top: 37px;
                                margin-left: -60px;
                                width: 120px;
                                height: 120px;
                                border-radius: 60px;
                                background-color: #ffffff;
                            }
                            .img-circle {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-top: -24px;
                                margin-left: -24px;
                                width: 48px;
                                height: 48px;
                            }
                        }
                    }
                }
                a.webbles-list-btn {
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-top: -5px;
                    margin-left: -64px;
                    border-radius: 20px;
                    padding: 6px 24px;
                    font-size: 14px;
                    &.hover {
                        visibility: visible;
                    }
                }
            }
            &.hover {
                cursor: pointer;
            }
        }
    }
}

/* fonts for xs */
// #contents > .row > .col-xs-12 {
//     padding-top: 100px;
// }

// SP ADDED

#tutorial-list-header {
    margin: 20px 0 58px;
    & > .list-header-howto {
        float: right;
        display: block;
        font-size: 16px;
        color: #bbb;
        & > a {
            color: #bbb;
        }
        &:hover {
            color: #285f9c;
            & > a {
                text-decoration: none;
                color: #285f9c;
            }
        }
    }
    & > .list-header-line {
        clear: both;
        border-top: 2px solid #ddd;
    }
}

#tutorial-list-content-section {
    div.tutorial-list-item-wrapper {
        padding: 10px;
        & > div.tutorial-list-item {
            width: 100%;
            height: 330px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            margin: 0;
            padding: 0;
            border-radius: 10px;
            // -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
            // -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
            // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
            &:hover {
                & > div.tutorial-list-item-header {
                    & > div.tutorial-play-bar {
                        display: block;
                    }
                }
                border: 2px solid #285f9c;
                border-radius: 13px;
            }
            & > div.tutorial-list-item-header {
                position: relative;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                height: 55%;
                width: 100%;
                background-size: 170%;
                background-position: top left;
                & > div.tutorial-play-bar {
                    display: none;
                    height: 36px;
                    background-color: #f5cd4b;
                    bottom: 0px;
                    position: absolute;
                    width: 100%;
                    & > a {
                        color: #fff;
                        display: block;
                        margin: 4px 0 9px;
                        text-align: center;
                        -webkit-animation-name: topbottommove;
                        -webkit-animation-duration: 0.5s;
                        -webkit-animation-timing-function: swing;
                        -webkit-animation-delay: 0s;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-direction: alternate;
                        -webkit-animation-play-state: running;
                        &:hover {
                            text-decoration: none;
                            color: #eee;
                        }
                    }
                }
                @-webkit-keyframes topbottommove {
                    0% {
                        padding-top: 3px;
                    }
                    50% {
                        padding-top: 6px;
                    }
                    100% {
                        padding-top: 3px;
                    }
                }
            }
            & > div.tutorial-list-item-body {
                height: 35%;
                padding: 0 20px;
                & > h4 {
                    margin: 0;
                    padding: 10px 0 5px;
                }
                & > p {
                    margin: 0;
                }
            }
            & > div.tutorial-list-item-footer {
                border-top: 1px solid #bbbbbb;
                height: 10%;
                font-size: 0;
                vertical-align: top;
                & > div.tutorial-list-item-footer-url {

                }
                & > div.tutorial-list-item-footer-stats {
                    display: inline-block;
                    width: 33%;
                    padding: 6px 0;
                    & > div {
                        display: block;
                        margin: 0 auto;
                        width: 65%;
                        & > img {
                            display: block;
                            float: left;
                        }
                        & > p {
                            float: right;
                            display: inline;
                            font-size: 13px;
                            text-align: right;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
    div.col-lg-4 {
        width: 25%;
    }
}