#install-page {
    & > .section-header {
        font-family: 'Nanum Barun Gothic';
        margin-bottom: 50px;
        & > h2 {
            font-size: 3vw;
        }
    }
    & > .solution-box {
        padding: 0;
        margin: 30px 0;
        background-color: #f6f6f6;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 5px 22px;
        & > .solution-description {
            & > h4 {
                font-size: 1.75vw;
                color: #285f9c;
            }
            & > p {
                font-size: 1.25vw;
                color: #373737;
            }
            & > a {
                font-size: 0.85vw;
                &:hover {
                    text-decoration: none;
                    color: #f5cd4b;
                }
            }
        }
        & > div > img {
            height: 8vw;
            width: 8vw;
            display: block;
            margin: 0 auto;
        }
    }
    button {
        width: 100%;
        height: 54px;
        border-radius: 30px;
        border: 0;
        color: #fff;
        background-color: #285f9c;
        font-family: jua;
        font-size: 22px;
        &:hover {
            color: #f5cd4b;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #install-page {
        margin: 0 10px;
        & > .section-header {
            display: block;
            margin: 0;
            & > h2 {
                display: block;
                font-size: 45px;
                margin: 100px auto 0;
            }
        }
        & > .solution-box {
            & > .solution-description {
                & > h4 {
                    font-size: 26px;
                }
                & > p {
                    font-size: 20px;
                }
                & > a {
                    font-size: 18px;
                }
            }
            & > div > img {
                height: 150px;
                width: 150px;
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: 768px) {
    #install-page {
        margin: 0 10px;
        & > .section-header {
            display: block;
            margin: 0;
            & > h2 {
                display: block;
                font-size: 30px;
                margin: 100px auto 0;
            }
        }
        & > .solution-box {
            & > .solution-description {
                & > h4 {
                    font-size: 18px;
                }
                & > p {
                    font-size: 14px;
                }
                & > a {
                    font-size: 12px;
                }
            }
            & > div > img {
                height: 100px;
                width: 100px;
                margin: 10px auto;
            }
        }
    }
}