#tutorial-detail-header {
    margin: 20px 0;
    & > .detail-header-back {
        float: right;
        display: block;
        font-size: 16px;
        color: #bbb;
        & > a {
            color: #bbb;
        }
        &:hover {
            color: #285f9c;
            & > a {
                text-decoration: none;
                color: #285f9c;
            }
        }
    }
    & > .detail-header-line {
        clear: both;
        border-top: 2px solid #ddd;
    }
}

#tutorial-title {
    font-family: Jua;
    font-weight: bold;
    color: #285f9c;
    font-size: 60px;
    margin-bottom: 20px;
    margin-left: 4px;
}

#tutorial-detail-main {
    & > div.tutorial-image {
        border-radius: 3px;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        display: block;
        height: 25vw;
        width: 100%;
    }
    & > div.tutorial-review-form {
        padding: 0 15px;
        #review-contents {
            width: 70%;
            height: 60px;
            display: block;
            float: left;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &:focus {
                background-color: #e8f1ff;
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }
        #review-submit {
            background-color: #285f9c;
            color: #fff;
            border-left: 0;
            width: 30%;
            height: 60px;
            display: block;
            float: right;
            vertical-align: top;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 16px;
            font-family: 'Nanum Barun Gothic';
        }
    }
    & > div.tutorial-review-list {
        margin-top: -5px;
        td.tutorial-review-content {
            vertical-align: top;
            font-size: 0;
            & > div:nth-child(1) {
                vertical-align: top;
                width: 80%;
                display: inline-block;
                height: 100%;
                font-size: 14px;
            }
            & > div:nth-child(2) {
                vertical-align: top;
                width: 20%;
                height: 100%;
                text-align: right;
                color: #a1a1a1;
                display: inline-block;
                & > p.tutorial-review-nickname {
                    margin: 0;
                    height: 100%;
                    display: inline;
                    font-size: 14px;
                }
            }
        }
    }
    & > div.tutorial-start {
        clear: both;
        & > button {
            height: 54px;
            margin: 10px auto 25px;
            border-radius: 3px;
            border: 0;
            color: #fff;
            background-color: #f5cd4b;
            font-family: jua;
            font-size: 22px;
            display: block;
            width: 100%;
            &:hover {
                color: #eee;
            }
        }
    }
    & > div.tutorial-move-section {
        display: block;
        height: 26px;
        margin: 0;
        padding: 0 5px;
        font-size: 15px;
        & > div {
            color: #bbb;
            & > a {
                color: #bbb;
            }
            &:hover {
                color: #285f9c;
                & > a {
                    text-decoration: none;
                    color: #285f9c;
                }
            }
        }
    }
}

#tutorial-detail-sub {
    & > .tutorial-description {
        p {
            width: 100%;
            height: 100%;
            display: block;
            margin-bottom: 15px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 15px 25px;
            word-break: keep-all;
            line-height: 1.8em;
            font-size: 17px;
        }
    }
    & > .tutorial-information {
        margin-bottom: 10px;
        vertical-align: top;
        font-size: 0;
        & > h4 {
            text-indent: 5px;
        }
        & > div {
            display: inline-block;
            width: 33%;
            height: 100%;
            margin: 0;
            padding: 0;
            & > div {
                display: block;
                margin: 0 auto;
                width: 50%;
                & > img {
                    display: block;
                    float: left;
                }
                & > p {
                    font-size: 14px;
                    display: inline;
                    float: right;
                }
            }
        }
    }
    & > .tutorial-social {
        margin-bottom: 10px;
        & > h4 {
            text-indent: 5px;
        }
        & > input {
            border-radius: 100px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            text-align: center;
            &:focus {
                background-color: #e8f1ff;
            }
        }
        & > div.social-buttons-wrapper {
            margin-top: 12px;
            vertical-align: top;
            font-size: 0;
            & > div {
                vertical-align: top;
                display: inline-block;
                height: 40px;
                width: 33%;
                & > div {
                    display: block;
                    width: 40px;
                    height: 100%;
                    margin: 0 auto;
                    opacity: 1;
                    & > div.fb-share-button {
                        opacity: 0;
                        width: 100%;
                        display: block;
                        padding: 13px 0;
                    }
                    & > iframe {
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        margin: 0px auto;
                    }
                    // & > div#copy-link {
                    //     background-image: url("../static/images/icons/friend_icon_link.png");
                    // }
               
                }
            }
            & > div:nth-child(1) {
                & > div {
                    background-image: url("../../static/images/icons/friend_icon_facebook.png");
                }
            }
            & > div:nth-child(2) {
                & > div {
                    background-image: url("../../static/images/icons/friend_icon_twitter.png");
                }
            }
            & > div:nth-child(3) {
                & > div {
                    background-image: url("../../static/images/icons/friend_icon_link.png");
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #tutorial-detail-sub > div.tutorial-description > p {
        font-size: 14px;
    }
    #tutorial-title {
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #tutorial-detail-sub > div.tutorial-description > p {
        font-size: 14px;
    }
    #tutorial-title {
        font-size: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #tutorial-detail-sub > div.tutorial-description > p {
        font-size: 14px;
    }
    #tutorial-title {
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
}

