footer.row {
  margin-top: 84px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); }
  footer.row > div:nth-child(2) p {
    padding: 17.5px 0;
    margin: 0;
    color: #7d7d7d;
    font-size: 11px;
    text-align: center; }

/*# sourceMappingURL=footer.css.map */
