#header {
  padding: 0;
}

#header .nav>li>a:hover, #header .nav>li>a:focus {
  background-color: inherit;
}

#header li {
  display: block;
}

#header li a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  padding: 11px 10px;
}

#header>ul>li:nth-child(1) a {
  padding: 6px 10px;
}
  
#header li a:hover, #header li a:focus {
  text-decoration: none;
}

#header>ul>li>ul {
  padding-left: 0;
}

#header>ul li {
  border-top: 1px solid #143c77;
  margin-top: 0px;
  background-color: #1c509d;
}

#header>ul li a {
  border-radius: 0;
}

#header>ul>li:nth-child(1) {
  border-top: none;
  background-color: #143c77;
}

#header>ul li:nth-child(4) {
  background-color: #143c77;
  border-bottom-right-radius: 12px;
}

#header>ul li:nth-child(4) a {
  border-bottom-right-radius: 12px;
}