footer.row {
	margin-top: 84px;
	height: 50px;
	//border: 1px solid #ababab;
	background-color: rgba(255,255,255,0.5);
	& > div:nth-child(1){
	}
	& > div:nth-child(2){
		p {
			padding: 17.5px 0;
			margin: 0;
			color: #7d7d7d;
			font-size: 11px;
			text-align: center;
		}
	}
	& > div:nth-child(3){
	}
}