.category-list h1 {
  margin-bottom: 25px;
  text-decoration: underline; }
.category-list .list > div {
  padding-right: 5px;
  padding-left: 5px; }
.category-list .list .panel {
  margin-bottom: 10px;
  border-radius: 12px; }
  .category-list .list .panel .panel-body {
    border-radius: 11px;
    background-color: #f6f6f6;
    padding: 19px 36px; }
  .category-list .list .panel:hover {
    cursor: pointer; }
.category-list .list .panel-body div.center-block:nth-child(2) {
  height: 55px;
  margin: 10px 0 20px;
  overflow-wrap: break-word; }
  .category-list .list .panel-body div.center-block:nth-child(2) h2 {
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    overflow-wrap: break-word; }
.category-list .list .panel-body div.center-block:nth-child(3) {
  height: 40px;
  overflow-wrap: break-word;
  height: 80px; }
  .category-list .list .panel-body div.center-block:nth-child(3) p {
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    font-size: 1vw; }
.category-list .list .panel-body div.center-block:nth-child(4) a {
  padding: 10px 40px;
  border-radius: 40px; }
.category-list .list .panel-body div.center-block:last-child {
  position: relative;
  margin-bottom: 0; }
.category-list .list .panel-body div.center-block:first-child .img-circle {
  width: 120px;
  height: 120px; }
.category-list .list .panel-body div.center-block:first-child a {
  visibility: hidden; }
  .category-list .list .panel-body div.center-block:first-child a.hover {
    visibility: visible; }
  .category-list .list .panel-body div.center-block:first-child a div {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 20px;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #ffffff; }
  .category-list .list .panel-body div.center-block:first-child a .img-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    width: 48px;
    height: 48px; }
.category-list .list .panel-body h2 {
  font-size: 20px;
  line-height: 24px; }
.category-list .list .panel-body p {
  line-height: 20px; }
.category-list .list .panel-body a.webbles-list-btn {
  border-radius: 20px;
  font-size: 14px; }

/* fonts for xs */
#contents > .row > .col-xs-12 {
  padding-top: 100px; }

/*# sourceMappingURL=category-list.css.map */
