#header {
  margin-left: 0 !important; }

.row {
  margin: 0; }

#landing-image {
  height: 500px;
  width: 100%;
  margin: 0;
  background-image: url("/static/images/icons/landing_main_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #landing-image > div {
    height: 100%; }
    #landing-image > div > div.landing-box {
      width: 773px;
      height: 100%;
      display: block;
      margin: 0 auto;
      padding: 130px 0; }
      #landing-image > div > div.landing-box > div:nth-child(1) {
        display: block;
        vertical-align: top;
        font-size: 0;
        height: 70%;
        margin-bottom: 16px; }
        #landing-image > div > div.landing-box > div:nth-child(1) > div.landing-description {
          display: inline-block;
          width: 65%;
          color: #fff; }
          #landing-image > div > div.landing-box > div:nth-child(1) > div.landing-description h4 {
            font-size: 50px;
            color: #fff;
            text-shadow: 1px 1px 2px #969696; }
          #landing-image > div > div.landing-box > div:nth-child(1) > div.landing-description p {
            font-size: 30px;
            text-shadow: 1px 1px 2px #969696; }
        #landing-image > div > div.landing-box > div:nth-child(1) > img {
          vertical-align: top;
          margin-top: -36px;
          width: 35%;
          display: inline-block; }
      #landing-image > div > div.landing-box > div:nth-child(2) {
        display: block;
        height: 30%; }
        #landing-image > div > div.landing-box > div:nth-child(2) button {
          height: 54px;
          margin: 0 auto;
          border-radius: 30px;
          border: 0;
          color: #fff;
          background-color: #285f9c;
          font-family: jua;
          font-size: 22px;
          display: block;
          width: 400px;
          /*Shadow*/
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); }
          #landing-image > div > div.landing-box > div:nth-child(2) button:hover {
            color: #f5cd4b; }

#contents > div.row.mobile-notification {
  display: none;
  background-color: #f5cd4b;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 5px 22px;
  margin: 0 10px; }
  #contents > div.row.mobile-notification > h4 {
    font-size: 28px; }
  #contents > div.row.mobile-notification > p {
    font-size: 16px; }
  #contents > div.row.mobile-notification > a {
    font-size: 13px;
    color: #fff; }
    #contents > div.row.mobile-notification > a:hover {
      text-decoration: none;
      font-size: 15px; }
#contents > div.row.landing-header {
  margin: 42px 0;
  border-bottom: 2px solid #c9c9c9; }
#contents > div.row.landing-service-header {
  padding: 17px 0; }
  #contents > div.row.landing-service-header > div:nth-child(1) h2 {
    font-size: 45px;
    color: #3c5082; }
#contents > div.row.landing-service-description > div:nth-child(1) {
  padding: 0;
  padding-right: 10px; }
  #contents > div.row.landing-service-description > div:nth-child(1) > div {
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 5px 22px;
    height: 323px; }
    #contents > div.row.landing-service-description > div:nth-child(1) > div p {
      color: #373737;
      font-size: 20px;
      margin: 10px 0;
      line-height: 1.5em; }
#contents > div.row.landing-service-description > div:nth-child(2) {
  padding: 0;
  padding-left: 10px; }
  #contents > div.row.landing-service-description > div:nth-child(2) iframe {
    padding: 10px;
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    display: block;
    margin: 0 auto; }
#contents > div.row.landing-service-description > div:nth-child(3) {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px; }
  #contents > div.row.landing-service-description > div:nth-child(3) > div {
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 5px 22px; }
    #contents > div.row.landing-service-description > div:nth-child(3) > div p {
      color: #373737;
      font-size: 20px;
      margin: 10px 0;
      line-height: 1.5em; }
#contents > div.row.landing-service-extension-what > div:nth-child(1) {
  padding: 17px 0 5px; }
  #contents > div.row.landing-service-extension-what > div:nth-child(1) p {
    text-indent: 10px;
    display: block;
    float: left;
    color: #3c5082;
    font-size: 14px; }
    #contents > div.row.landing-service-extension-what > div:nth-child(1) p:after {
      content: none; }
  #contents > div.row.landing-service-extension-what > div:nth-child(1) a {
    text-indent: 5px;
    display: block;
    float: left;
    color: #3c5082;
    font-size: 14px; }
    #contents > div.row.landing-service-extension-what > div:nth-child(1) a p {
      text-decoration: underline; }
#contents > div.row.landing-service-button > div:nth-child(1) {
  padding: 0; }
  #contents > div.row.landing-service-button > div:nth-child(1) > div:nth-child(1) {
    padding: 0;
    padding-right: 10px; }
    #contents > div.row.landing-service-button > div:nth-child(1) > div:nth-child(1) a div {
      width: 100%;
      height: 54px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../images/icons/chrome_web_store.png");
      background-color: #fff;
      border: 1px solid #ababab;
      border-radius: 30px; }
  #contents > div.row.landing-service-button > div:nth-child(1) > div:nth-child(2) {
    padding: 0;
    padding-left: 10px; }
    #contents > div.row.landing-service-button > div:nth-child(1) > div:nth-child(2) button {
      width: 100%;
      height: 54px;
      border-radius: 30px;
      border: 0;
      color: #fff;
      background-color: #285f9c;
      font-family: jua;
      font-size: 22px; }
      #contents > div.row.landing-service-button > div:nth-child(1) > div:nth-child(2) button:hover {
        color: #f5cd4b; }
#contents > div.row.landing-service-button > div:nth-child(2) {
  padding: 0; }

@media (max-width: 768px) {
  #contents > > div.row.landing-header {
    display: none; }
  #contents > div.row.landing-service-extension-what {
    display: none; }
  #contents > div.row.landing-service-button {
    margin-top: 10px; }
    #contents > div.row.landing-service-button > div:nth-child(1) > div:nth-child(1) {
      padding: 0 10px; }
    #contents > div.row.landing-service-button > div:nth-child(1) > div:nth-child(2) {
      display: none; }
    #contents > div.row.landing-service-button > div:nth-child(2) {
      display: none; }
  #contents > div.row.mobile-notification {
    display: block; }
  #contents > div.row.landing-service-header > div:nth-child(1) h2 {
    font-size: 8vw; }
  #contents > div.row.landing-service-description > div:nth-child(1) {
    padding: 0 10px;
    margin-bottom: 20px; }
    #contents > div.row.landing-service-description > div:nth-child(1) > div {
      height: 280px; }
      #contents > div.row.landing-service-description > div:nth-child(1) > div > p {
        font-size: 4vw; }
  #contents > div.row.landing-service-description > div:nth-child(2) {
    padding: 0 10px; }

  #landing-image > div > div.landing-box {
    width: 100%; }
    #landing-image > div > div.landing-box > div:nth-child(1) {
      width: 100%; }
      #landing-image > div > div.landing-box > div:nth-child(1) div.landing-description {
        margin-top: 100px;
        display: block;
        width: 100%; }
        #landing-image > div > div.landing-box > div:nth-child(1) div.landing-description h4 {
          font-size: 10vw; }
        #landing-image > div > div.landing-box > div:nth-child(1) div.landing-description p {
          font-size: 5vw; }
      #landing-image > div > div.landing-box > div:nth-child(1) img {
        margin: 0;
        position: absolute;
        display: block;
        max-height: 100px;
        max-width: 100px;
        top: 10px;
        right: 10px; }
    #landing-image > div > div.landing-box > div:nth-child(2) {
      display: none; } }
.category-list .panel {
  margin-bottom: 0;
  border-radius: 12px; }
  .category-list .panel .panel-body {
    border-radius: 11px;
    background-color: #f6f6f6;
    padding: 36px 36px; }
  .category-list .panel:hover {
    cursor: pointer; }
.category-list .panel-body .center-block {
  margin-bottom: 16px; }
  .category-list .panel-body .center-block:last-child {
    position: relative;
    margin-bottom: 0; }
  .category-list .panel-body .center-block:first-child .img-circle {
    width: 220px;
    height: 220px; }
  .category-list .panel-body .center-block:first-child a {
    visibility: hidden; }
    .category-list .panel-body .center-block:first-child a.hover {
      visibility: visible; }
    .category-list .panel-body .center-block:first-child a div {
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: 37px;
      margin-left: -110px;
      width: 220px;
      height: 220px;
      border-radius: 110px;
      background-color: #ffffff; }
    .category-list .panel-body .center-block:first-child a .img-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -36px;
      margin-left: -36px;
      width: 72px;
      height: 72px; }
.category-list .panel .panel-body h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 16px;
  color: #285f9c; }
.category-list .panel .panel-body p {
  font-size: 20px;
  line-height: 28px; }
.category-list .panel-body a.webbles-list-btn {
  font-size: 16px;
  border-radius: 100px;
  padding: 12px 48px;
  margin-top: 4px; }

/*# sourceMappingURL=index.css.map */

/*# sourceMappingURL=index.css.map */
