#facebook_link {
  display: block;
  margin: 0 auto; }
  #facebook_link > img {
    display: block;
    margin: 0 auto;
    width: 256px;
    height: 256px; }

#intro #feedback-contents {
  height: 170px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #e6e6e6; }
#intro #feedback-email {
  width: 100%;
  border: 0;
  border-radius: 5px;
  text-indent: 10px;
  border: 1px solid #e6e6e6; }
#intro > div.row.qa-session > div.session-question-header {
  height: 30px;
  margin: 5px 0; }
  #intro > div.row.qa-session > div.session-question-header img {
    display: block;
    float: left; }
  #intro > div.row.qa-session > div.session-question-header p {
    display: block;
    float: left;
    text-indent: 10px;
    font-size: 1.2vw;
    font-family: jua;
    color: #1d4571; }
#intro > div.row.qa-session > div.session-body {
  clear: both;
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 22px; }
  #intro > div.row.qa-session > div.session-body p {
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    padding: 5px 0;
    margin: 0;
    font-size: 0.8vw;
    text-align: left;
    color: #7d7d7d; }
#intro > div.row.section-content > div.row.special-intro-box > div:nth-child(2) {
  margin-top: -20px;
  border-top: 1px solid #c7c7c7; }
  #intro > div.row.section-content > div.row.special-intro-box > div:nth-child(2) h4 {
    color: #285f9c;
    font-size: 20px;
    padding: 0;
    margin: 14px 0 10px; }
  #intro > div.row.section-content > div.row.special-intro-box > div:nth-child(2) p {
    color: #285f9c;
    font-size: 13px;
    margin-bottom: 12px; }
  #intro > div.row.section-content > div.row.special-intro-box > div:nth-child(2) button {
    padding: 6px 0;
    border-radius: 30px;
    width: 220px;
    border: 0;
    color: #fff;
    background-color: #285f9c; }
    #intro > div.row.section-content > div.row.special-intro-box > div:nth-child(2) button:hover {
      color: #f5cd4b; }
#intro > div.row.section-content > div:nth-child(1) div.question-box {
  display: block;
  margin-bottom: 13px;
  font-size: 0;
  vertical-align: top;
  height: 105px; }
  #intro > div.row.section-content > div:nth-child(1) div.question-box div.photo:nth-child(1) {
    display: inline-block;
    width: 30%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff; }
  #intro > div.row.section-content > div:nth-child(1) div.question-box div:nth-child(2) {
    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-left: 0;
    padding: 16px;
    vertical-align: top;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    #intro > div.row.section-content > div:nth-child(1) div.question-box div:nth-child(2) p:nth-child(1) {
      color: #373737;
      font-size: 14px;
      margin-bottom: 7px; }
    #intro > div.row.section-content > div:nth-child(1) div.question-box div:nth-child(2) p:nth-child(2) {
      color: #285f9c;
      font-size: 12px;
      margin: 0; }
#intro > div.row.section-content > div:nth-child(1) div.question-box:nth-child(1) > div.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/icons/user_01.png"); }
#intro > div.row.section-content > div:nth-child(1) div.question-box:nth-child(2) > div.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/icons/user_02.png"); }
#intro > div.row.section-content > div:nth-child(1) div.question-box:nth-child(3) > div.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/icons/user_03.png"); }
#intro > div.row.section-content > div:nth-child(2) {
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
  border-radius: 10px; }
  #intro > div.row.section-content > div:nth-child(2) > form > div:nth-child(1) > div > p {
    margin: 10px 0;
    color: #285f9c;
    font-size: 12px; }
  #intro > div.row.section-content > div:nth-child(2) > form > div:nth-child(2) > div > button {
    padding: 6px 0;
    border-radius: 30px;
    width: 120px;
    border: 0;
    color: #fff;
    background-color: #285f9c; }
    #intro > div.row.section-content > div:nth-child(2) > form > div:nth-child(2) > div > button:hover {
      color: #f5cd4b; }
#intro > div.row.section-content > div.service-intro-box.row {
  background: none;
  border: none;
  margin-bottom: 36px; }
  #intro > div.row.section-content > div.service-intro-box.row > div.service-photo img {
    display: block;
    margin: 0 auto; }
  #intro > div.row.section-content > div.service-intro-box.row > div.service-description {
    display: block;
    margin: 0 auto; }
    #intro > div.row.section-content > div.service-intro-box.row > div.service-description h4 {
      font-size: 2vw;
      font-weight: bold;
      color: #414141; }
    #intro > div.row.section-content > div.service-intro-box.row > div.service-description p {
      font-size: 1vw;
      line-height: 1.5em;
      color: #414141; }
#intro > div.row.section-header {
  vertical-align: top;
  font-size: 0;
  height: 50px;
  display: block;
  margin-bottom: 60px;
  margin-top: 60px; }
  #intro > div.row.section-header > div:nth-child(1) {
    display: inline-block;
    width: 30%;
    height: 100%; }
    #intro > div.row.section-header > div:nth-child(1) > div:nth-child(1) {
      display: block;
      height: 70%;
      width: 100%;
      border-bottom: 2px solid #c9c9c9; }
    #intro > div.row.section-header > div:nth-child(1) > div:nth-child(2) {
      display: block;
      height: 30%;
      width: 100%; }
  #intro > div.row.section-header > div:nth-child(2) {
    display: inline-block;
    width: 40%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    font-size: 0; }
    #intro > div.row.section-header > div:nth-child(2) > div:nth-child(2) {
      height: 70%;
      width: 100%;
      display: inline-block; }
    #intro > div.row.section-header > div:nth-child(2) > div:nth-child(1) {
      height: 40%;
      width: 100%;
      display: inline-block;
      font-size: 2.5vw;
      font-family: jua;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      color: #285f9c; }
  #intro > div.row.section-header > div:nth-child(3) {
    display: inline-block;
    width: 30%;
    height: 100%; }
    #intro > div.row.section-header > div:nth-child(3) > div:nth-child(1) {
      display: block;
      height: 70%;
      width: 100%;
      border-bottom: 2px solid #c9c9c9; }
    #intro > div.row.section-header > div:nth-child(3) > div:nth-child(2) {
      display: block;
      height: 30%;
      width: 100%; }

@media (max-width: 768px) {
  #intro {
    margin: 0 10px;
    padding: 0; }
    #intro > div.row.section-header {
      margin: 30px 0; }
      #intro > div.row.section-header > div:nth-child(1) {
        width: 15%; }
      #intro > div.row.section-header > div:nth-child(2) {
        width: 70%; }
        #intro > div.row.section-header > div:nth-child(2) > div:nth-child(1) {
          font-size: 7vw; }
      #intro > div.row.section-header > div:nth-child(3) {
        width: 15%; }
    #intro > div.row.section-content {
      margin: 0; }
      #intro > div.row.section-content > div:nth-child(1) {
        display: none; }
    #intro > div.row.section-content > div.service-intro-box.row {
      display: block;
      margin: 0; }
      #intro > div.row.section-content > div.service-intro-box.row > div:nth-child(1) {
        display: block; }
      #intro > div.row.section-content > div.service-intro-box.row > div:nth-child(2) {
        display: block;
        top: 0;
        margin: 15px 0; }
        #intro > div.row.section-content > div.service-intro-box.row > div:nth-child(2) h4 {
          font-size: 5vw;
          text-align: center; }
        #intro > div.row.section-content > div.service-intro-box.row > div:nth-child(2) p {
          font-size: 4vw; }
      #intro > div.row.section-content > div.service-intro-box.row > div.service-photo {
        display: block;
        margin: 0 auto; }
        #intro > div.row.section-content > div.service-intro-box.row > div.service-photo img {
          float: none !important; }
    #intro > div.row.section-content > div.row.special-intro-box {
      display: none; }
    #intro > div.row.qa-session {
      margin-bottom: 20px;
      margin: 0; }
      #intro > div.row.qa-session > div:nth-child(1) img {
        display: none;
        clear: both;
        float: none;
        margin: 0 auto; }
      #intro > div.row.qa-session > div:nth-child(1) p {
        clear: both;
        font-size: 5vw;
        text-indent: 0; }
      #intro > div.row.qa-session > div:nth-child(2) p {
        font-size: 4vw; } }
/* fonts for sm */
@media (min-width: 768px) {
  #contents > .row > .col-sm-8 {
    padding-top: 21px; }

  div.service-description {
    display: block;
    margin: 0 auto; }
    div.service-description h4 {
      font-size: 4vw !important;
      font-weight: bold;
      color: #414141; }
    div.service-description p {
      font-size: 2vw !important;
      line-height: 1.5em;
      color: #414141; }

  div.row.qa-session > div.session-question-header p {
    font-size: 2.5vw !important; }
  div.row.qa-session > div.session-body p {
    font-size: 1.8vw !important; } }
/* fonts for md */
@media (min-width: 992px) {
  #contents > .row > .col-md-8 {
    padding-top: 21px; }

  div.service-description {
    display: block;
    margin: 0 auto; }
    div.service-description h4 {
      font-size: 3vw !important;
      font-weight: bold;
      color: #414141; }
    div.service-description p {
      font-size: 1.5vw !important;
      line-height: 1.5em;
      color: #414141; }

  div.row.qa-session > div.session-question-header p {
    font-size: 2vw !important; }
  div.row.qa-session > div.session-body p {
    font-size: 1.5vw !important; } }
/* fonts for lg */
@media (min-width: 1200px) {
  #contents > .row > .col-lg-8 {
    padding-top: 21px; }

  div.service-description {
    display: block;
    margin: 0 auto; }
    div.service-description h4 {
      font-size: 1.8vw !important;
      font-weight: bold;
      color: #414141; }
    div.service-description p {
      font-size: 1.1vw !important;
      line-height: 1.5em;
      color: #414141; }

  div.row.qa-session > div.session-question-header p {
    font-size: 1.2vw !important; }
  div.row.qa-session > div.session-body p {
    font-size: 0.9vw !important; } }

/*# sourceMappingURL=intro.css.map */
