#tutorial-detail-header {
  margin: 20px 0; }
  #tutorial-detail-header > .detail-header-back {
    float: right;
    display: block;
    font-size: 16px;
    color: #bbb; }
    #tutorial-detail-header > .detail-header-back > a {
      color: #bbb; }
    #tutorial-detail-header > .detail-header-back:hover {
      color: #285f9c; }
      #tutorial-detail-header > .detail-header-back:hover > a {
        text-decoration: none;
        color: #285f9c; }
  #tutorial-detail-header > .detail-header-line {
    clear: both;
    border-top: 2px solid #ddd; }

#tutorial-title {
  font-family: Jua;
  font-weight: bold;
  color: #285f9c;
  font-size: 60px;
  margin-bottom: 20px;
  margin-left: 4px; }

#tutorial-detail-main > div.tutorial-image {
  border-radius: 3px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  height: 25vw;
  width: 100%; }
#tutorial-detail-main > div.tutorial-review-form {
  padding: 0 15px; }
  #tutorial-detail-main > div.tutorial-review-form #review-contents {
    width: 70%;
    height: 60px;
    display: block;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    #tutorial-detail-main > div.tutorial-review-form #review-contents:focus {
      background-color: #e8f1ff;
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  #tutorial-detail-main > div.tutorial-review-form #review-submit {
    background-color: #285f9c;
    color: #fff;
    border-left: 0;
    width: 30%;
    height: 60px;
    display: block;
    float: right;
    vertical-align: top;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    font-family: 'Nanum Barun Gothic'; }
#tutorial-detail-main > div.tutorial-review-list {
  margin-top: -5px; }
  #tutorial-detail-main > div.tutorial-review-list td.tutorial-review-content {
    vertical-align: top;
    font-size: 0; }
    #tutorial-detail-main > div.tutorial-review-list td.tutorial-review-content > div:nth-child(1) {
      vertical-align: top;
      width: 80%;
      display: inline-block;
      height: 100%;
      font-size: 14px; }
    #tutorial-detail-main > div.tutorial-review-list td.tutorial-review-content > div:nth-child(2) {
      vertical-align: top;
      width: 20%;
      height: 100%;
      text-align: right;
      color: #a1a1a1;
      display: inline-block; }
      #tutorial-detail-main > div.tutorial-review-list td.tutorial-review-content > div:nth-child(2) > p.tutorial-review-nickname {
        margin: 0;
        height: 100%;
        display: inline;
        font-size: 14px; }
#tutorial-detail-main > div.tutorial-start {
  clear: both; }
  #tutorial-detail-main > div.tutorial-start > button {
    height: 54px;
    margin: 10px auto 25px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    background-color: #f5cd4b;
    font-family: jua;
    font-size: 22px;
    display: block;
    width: 100%; }
    #tutorial-detail-main > div.tutorial-start > button:hover {
      color: #eee; }
#tutorial-detail-main > div.tutorial-move-section {
  display: block;
  height: 26px;
  margin: 0;
  padding: 0 5px;
  font-size: 15px; }
  #tutorial-detail-main > div.tutorial-move-section > div {
    color: #bbb; }
    #tutorial-detail-main > div.tutorial-move-section > div > a {
      color: #bbb; }
    #tutorial-detail-main > div.tutorial-move-section > div:hover {
      color: #285f9c; }
      #tutorial-detail-main > div.tutorial-move-section > div:hover > a {
        text-decoration: none;
        color: #285f9c; }

#tutorial-detail-sub > .tutorial-description p {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px 25px;
  word-break: keep-all;
  line-height: 1.8em;
  font-size: 17px; }
#tutorial-detail-sub > .tutorial-information {
  margin-bottom: 10px;
  vertical-align: top;
  font-size: 0; }
  #tutorial-detail-sub > .tutorial-information > h4 {
    text-indent: 5px; }
  #tutorial-detail-sub > .tutorial-information > div {
    display: inline-block;
    width: 33%;
    height: 100%;
    margin: 0;
    padding: 0; }
    #tutorial-detail-sub > .tutorial-information > div > div {
      display: block;
      margin: 0 auto;
      width: 50%; }
      #tutorial-detail-sub > .tutorial-information > div > div > img {
        display: block;
        float: left; }
      #tutorial-detail-sub > .tutorial-information > div > div > p {
        font-size: 14px;
        display: inline;
        float: right; }
#tutorial-detail-sub > .tutorial-social {
  margin-bottom: 10px; }
  #tutorial-detail-sub > .tutorial-social > h4 {
    text-indent: 5px; }
  #tutorial-detail-sub > .tutorial-social > input {
    border-radius: 100px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-align: center; }
    #tutorial-detail-sub > .tutorial-social > input:focus {
      background-color: #e8f1ff; }
  #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper {
    margin-top: 12px;
    vertical-align: top;
    font-size: 0; }
    #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper > div {
      vertical-align: top;
      display: inline-block;
      height: 40px;
      width: 33%; }
      #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper > div > div {
        display: block;
        width: 40px;
        height: 100%;
        margin: 0 auto;
        opacity: 1; }
        #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper > div > div > div.fb-share-button {
          opacity: 0;
          width: 100%;
          display: block;
          padding: 13px 0; }
        #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper > div > div > iframe {
          opacity: 0;
          width: 100%;
          height: 100%;
          display: block;
          margin: 0px auto; }
    #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper > div:nth-child(1) > div {
      background-image: url("../../static/images/icons/friend_icon_facebook.png"); }
    #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper > div:nth-child(2) > div {
      background-image: url("../../static/images/icons/friend_icon_twitter.png"); }
    #tutorial-detail-sub > .tutorial-social > div.social-buttons-wrapper > div:nth-child(3) > div {
      background-image: url("../../static/images/icons/friend_icon_link.png"); }

@media (max-width: 768px) {
  #tutorial-detail-sub > div.tutorial-description > p {
    font-size: 14px; }

  #tutorial-title {
    font-size: 30px; } }
@media (min-width: 768px) and (max-width: 992px) {
  #tutorial-detail-sub > div.tutorial-description > p {
    font-size: 14px; }

  #tutorial-title {
    font-size: 35px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  #tutorial-detail-sub > div.tutorial-description > p {
    font-size: 14px; }

  #tutorial-title {
    font-size: 40px; } }

/*# sourceMappingURL=tutorial-detail.css.map */
