.tutorial-list .search > div {
  padding-left: 5px;
  parring-right: 5px; }
.tutorial-list .search form > div {
  position: relative;
  padding: 0; }
.tutorial-list .search .form-control {
  height: 30px; }
.tutorial-list .search input[type='submit'] {
  height: 30px; }
.tutorial-list .search input[type='text'] {
  width: 100%;
  border-radius: 15px;
  text-indent: 1%;
  background-color: #ffffff;
  color: #000000; }
  .tutorial-list .search input[type='text']:focus {
    border: 2px solid #285f9c;
    color: #285f9c; }
.tutorial-list .search input[type='submit'] {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  background-image: url("/static/images/icons/search.png");
  background-size: 28px 28px;
  background-position: -1px -1px; }
.tutorial-list .search select {
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid #85d1d8;
  border-radius: 15px;
  padding: 0 30px;
  line-height: 30px;
  text-indent: 20%; }
  .tutorial-list .search select:focus {
    border: 2px solid #285f9c;
    color: #285f9c; }
@media (max-width: 768px) {
  .tutorial-list .search select {
    margin-top: 16px; } }
.tutorial-list .search img {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px; }
.tutorial-list .list > div {
  padding-right: 5px;
  padding-left: 5px; }
.tutorial-list .list > div:nth-child(1) p {
  font-size: 12px;
  line-height: 50px;
  margin-bottom: 0; }
.tutorial-list .list .panel {
  margin-bottom: 10px;
  border-radius: 12px; }
  .tutorial-list .list .panel .panel-body {
    position: relative;
    height: 360px;
    border-radius: 11px;
    background-color: #f6f6f6;
    padding-right: 36px;
    padding-left: 36px; }
    .tutorial-list .list .panel .panel-body h2 {
      font-size: 20px;
      line-height: 24px; }
    .tutorial-list .list .panel .panel-body p {
      line-height: 20px;
      overflow-wrap: break-word; }
    .tutorial-list .list .panel .panel-body .center-block {
      margin: 0;
      margin-top: 10px;
      height: 50px; }
      .tutorial-list .list .panel .panel-body .center-block .text-center {
        height: 65px; }
      .tutorial-list .list .panel .panel-body .center-block:last-child {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -40%;
        width: 80%; }
        .tutorial-list .list .panel .panel-body .center-block:last-child div {
          padding: 0 8px;
          color: #7090c0; }
          .tutorial-list .list .panel .panel-body .center-block:last-child div.hover {
            visibility: hidden; }
          .tutorial-list .list .panel .panel-body .center-block:last-child div img {
            margin-right: 4px; }
      .tutorial-list .list .panel .panel-body .center-block:first-child {
        height: 140px; }
        .tutorial-list .list .panel .panel-body .center-block:first-child .img-circle {
          position: absolute;
          top: 0;
          left: 50%;
          margin-top: 37px;
          margin-left: -60px;
          width: 120px;
          height: 120px;
          border: 1px solid #bbbbbb; }
        .tutorial-list .list .panel .panel-body .center-block:first-child a {
          visibility: hidden; }
          .tutorial-list .list .panel .panel-body .center-block:first-child a.hover {
            visibility: visible; }
          .tutorial-list .list .panel .panel-body .center-block:first-child a div {
            position: absolute;
            top: 0;
            left: 50%;
            margin-top: 37px;
            margin-left: -60px;
            width: 120px;
            height: 120px;
            border-radius: 60px;
            background-color: #ffffff; }
          .tutorial-list .list .panel .panel-body .center-block:first-child a .img-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -24px;
            margin-left: -24px;
            width: 48px;
            height: 48px; }
    .tutorial-list .list .panel .panel-body a.webbles-list-btn {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: -5px;
      margin-left: -64px;
      border-radius: 20px;
      padding: 6px 24px;
      font-size: 14px; }
      .tutorial-list .list .panel .panel-body a.webbles-list-btn.hover {
        visibility: visible; }
  .tutorial-list .list .panel.hover {
    cursor: pointer; }

/* fonts for xs */
#tutorial-list-header {
  margin: 20px 0 58px; }
  #tutorial-list-header > .list-header-howto {
    float: right;
    display: block;
    font-size: 16px;
    color: #bbb; }
    #tutorial-list-header > .list-header-howto > a {
      color: #bbb; }
    #tutorial-list-header > .list-header-howto:hover {
      color: #285f9c; }
      #tutorial-list-header > .list-header-howto:hover > a {
        text-decoration: none;
        color: #285f9c; }
  #tutorial-list-header > .list-header-line {
    clear: both;
    border-top: 2px solid #ddd; }

#tutorial-list-content-section div.tutorial-list-item-wrapper {
  padding: 10px; }
  #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item {
    width: 100%;
    height: 330px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    border-radius: 10px; }
    #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item:hover {
      border: 2px solid #285f9c;
      border-radius: 13px; }
      #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item:hover > div.tutorial-list-item-header > div.tutorial-play-bar {
        display: block; }
    #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-header {
      position: relative;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      height: 55%;
      width: 100%;
      background-size: 170%;
      background-position: top left; }
      #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-header > div.tutorial-play-bar {
        display: none;
        height: 36px;
        background-color: #f5cd4b;
        bottom: 0px;
        position: absolute;
        width: 100%; }
        #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-header > div.tutorial-play-bar > a {
          color: #fff;
          display: block;
          margin: 4px 0 9px;
          text-align: center;
          -webkit-animation-name: topbottommove;
          -webkit-animation-duration: 0.5s;
          -webkit-animation-timing-function: swing;
          -webkit-animation-delay: 0s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: alternate;
          -webkit-animation-play-state: running; }
          #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-header > div.tutorial-play-bar > a:hover {
            text-decoration: none;
            color: #eee; }
@-webkit-keyframes topbottommove {
  0% {
    padding-top: 3px; }
  50% {
    padding-top: 6px; }
  100% {
    padding-top: 3px; } }
    #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-body {
      height: 35%;
      padding: 0 20px; }
      #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-body > h4 {
        margin: 0;
        padding: 10px 0 5px; }
      #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-body > p {
        margin: 0; }
    #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-footer {
      border-top: 1px solid #bbbbbb;
      height: 10%;
      font-size: 0;
      vertical-align: top; }
      #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-footer > div.tutorial-list-item-footer-stats {
        display: inline-block;
        width: 33%;
        padding: 6px 0; }
        #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-footer > div.tutorial-list-item-footer-stats > div {
          display: block;
          margin: 0 auto;
          width: 65%; }
          #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-footer > div.tutorial-list-item-footer-stats > div > img {
            display: block;
            float: left; }
          #tutorial-list-content-section div.tutorial-list-item-wrapper > div.tutorial-list-item > div.tutorial-list-item-footer > div.tutorial-list-item-footer-stats > div > p {
            float: right;
            display: inline;
            font-size: 13px;
            text-align: right;
            margin: 0; }

@media (min-width: 1600px) {
  div.col-lg-4 {
    width: 25%; } }

/*# sourceMappingURL=tutorial-list.css.map */
