#install-page > .section-header {
  font-family: 'Nanum Barun Gothic';
  margin-bottom: 50px; }
  #install-page > .section-header > h2 {
    font-size: 3vw; }
#install-page > .solution-box {
  padding: 0;
  margin: 30px 0;
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 5px 22px; }
  #install-page > .solution-box > .solution-description > h4 {
    font-size: 1.75vw;
    color: #285f9c; }
  #install-page > .solution-box > .solution-description > p {
    font-size: 1.25vw;
    color: #373737; }
  #install-page > .solution-box > .solution-description > a {
    font-size: 0.85vw; }
    #install-page > .solution-box > .solution-description > a:hover {
      text-decoration: none;
      color: #f5cd4b; }
  #install-page > .solution-box > div > img {
    height: 8vw;
    width: 8vw;
    display: block;
    margin: 0 auto; }
#install-page button {
  width: 100%;
  height: 54px;
  border-radius: 30px;
  border: 0;
  color: #fff;
  background-color: #285f9c;
  font-family: jua;
  font-size: 22px; }
  #install-page button:hover {
    color: #f5cd4b; }

@media (min-width: 768px) and (max-width: 992px) {
  #install-page {
    margin: 0 10px; }
    #install-page > .section-header {
      display: block;
      margin: 0; }
      #install-page > .section-header > h2 {
        display: block;
        font-size: 45px;
        margin: 100px auto 0; }
    #install-page > .solution-box > .solution-description > h4 {
      font-size: 26px; }
    #install-page > .solution-box > .solution-description > p {
      font-size: 20px; }
    #install-page > .solution-box > .solution-description > a {
      font-size: 18px; }
    #install-page > .solution-box > div > img {
      height: 150px;
      width: 150px;
      margin: 10px auto; } }
@media (max-width: 768px) {
  #install-page {
    margin: 0 10px; }
    #install-page > .section-header {
      display: block;
      margin: 0; }
      #install-page > .section-header > h2 {
        display: block;
        font-size: 30px;
        margin: 100px auto 0; }
    #install-page > .solution-box > .solution-description > h4 {
      font-size: 18px; }
    #install-page > .solution-box > .solution-description > p {
      font-size: 14px; }
    #install-page > .solution-box > .solution-description > a {
      font-size: 12px; }
    #install-page > .solution-box > div > img {
      height: 100px;
      width: 100px;
      margin: 10px auto; } }

/*# sourceMappingURL=tutorial-initialize.css.map */
